@import 'variables';

.boards-popup {
    padding: 10px;
    display: flex;
    flex-direction: column;
}


.boards-popup > * {
    margin-bottom: 5px;
}

.boards-popup-search {
    border: 1px solid gainsboro;
    padding: 5px;
    border-radius: 3px;
}

