@import "variables";

.menu-popup {
    width: 250px;
}

.menu-popup-section {
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu-popup-link {
    padding: 5px;
    padding-left: 10px;
    cursor: pointer;
    &:hover {
        background-color: $color-tertiary;
    }
    display: block;
}

