
@import "variables";



.notifications-popup {
    width: 500px;
}

.notifications-popup-feed {
    height: 300px;
    background-color: blue;
}

.notifications-popup-link {
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    text-align: center;
    &:hover {
        background-color: $color-tertiary;
    }
}