@import "variables";


.headerButtonGroup {
    display: flex;
    align-items: center;
    height: 30px;
    position: relative;
}

.headerButtonGroup > .headerButton {
    margin-left: $super-fine-gutter;
    margin-right: $super-fine-gutter;
    display: inline-block;
}


.headerButtonGroup .headerButton:first-child {
    margin-left: 0px;
}

.headerButtonGroup .headerButton:last-child {
    margin-right: 0px;
}



