@import "variables";

.headerButton {
    padding: $fine-gutter;
    font-size: 16px;
    border-radius: $button-border-radius;
    height: 30px;
    cursor: pointer;
    background-color: $color-secondary;
    min-width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

// .headerButton-text{
//     position: relative;
// }

.headerButton-icon {
    top: 1px;
    position: relative;
}

.headerButton span:nth-child(2) {
    margin-left: $fine-gutter;
}

