@import "variables";

.home-recently-viewed-feed {
    width: 300px;
    margin-top: 50px;
}

.home-recently-menu-title-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.home-recently-menu-title-container .icon-clock-o {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.home-recently-viewed-ul {
}

.home-recently-viewed-li {
    display: flex;
    align-items: center;
    padding: 5px;
    transition: background-color .3s;
    border-radius: 3px;
    margin-bottom: 3px;
    cursor: pointer;
    &:hover {
        background-color: $grayscale;
    }
}

.home-recently-viewed-item-color {
    background-color: blue;
    width: 32px;
    height: 28px;
    border-radius: 3px;
    margin-right: 5px;
}



.home-recently-viewed-li .icon-star {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    align-self: flex-end;
    margin-left: auto;
}


.home-recently-viewed-links-ul {

}

.home-recently-viewed-links-li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
    &:hover {
        background-color: $grayscale;
    }
}

.home-recently-viewed-links-li .icon-plus {

    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background-color: grey;
    border-radius: 5px;
    margin-right: 5px;

}



.home-recently-viewed-links-title {
    display: block;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
 }



