@import 'variables';



#portal {
    // width: 100vw;
    // height: 100vh;
    // position: absolute;
    // top: 0;
    // left: 0;
    // pointer-events: none;
}

#floating-portal {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    
}

#floating-portal > * {
    pointer-events: all;
}

button {
    border-width: 0;
    border-style: none;
    cursor: pointer;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
}
ul {
    list-style: none;
}

a, p  {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

input {
    -webkit-appearance: none;
    border: none;
}


input {
    font-size: 16px;
    padding-left: $fine-gutter;
}

textarea {
    font-size: 16px;
}


//TODO - change color of scroll bars

