
//gutters
$super-fine-gutter: 1px;
$fine-gutter: 2.5px;


$button-border-radius: 6px;


$header-height: 35px;


// colors
$color-primary: #BB342F;
$color-secondary: #DDA448;
$color-tertiary: #8D6A9F;